## Preparar datos para Kaggle

https://www.kaggle.com/paultimothymooney/how-to-setup-an-inclass-competition

https://www.kaggle.com/c/caso-2-credit-scoring/overview

Primero, cogemos todo el conjunto que tengamos de train. Este conjunto lo dividiremos en:
1. Train (etiquetado) para el alumno
2. Test (sin etiquetar) parael alumno. Los labels irán a Kaggle donde se hará un split del todo el conjunto de test
    - 50% para el score privado
    - 50% para el score público

In [46]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/cs-training.csv').reset_index()
df.rename(columns = {'index': 'Id'}, inplace=True)
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,Id,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

# Split
## Train

70% Para train

In [47]:
np.random.seed(17)
df['split'] = np.random.randn(df.shape[0], 1)

msk = np.random.rand(len(df)) <= 0.7
train = df[msk]
test = df[~msk]

train = train.drop(columns='split')
train.head()

,Id,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
5,5,0,0.213179,74,0,0.375607,3500.0,3,0,1,0,1.0

In [48]:
test.head()

,Id,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,split
0,0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,0.276266
9,9,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0,-0.437783
17,17,0,0.166284,53,0,0.188274,8800.0,7,0,0,0,0.0,-0.473448
18,18,0,0.221813,43,0,0.527888,3280.0,7,0,1,0,2.0,-1.092230
24,24,0,0.046560,58,0,0.241622,2416.0,9,0,1,0,0.0,-0.806360

## Test

In [49]:
test2 = test.drop(columns=['SeriousDlqin2yrs', 'split'])
test2.head()

,Id,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,0,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
9,9,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
17,17,0.166284,53,0,0.188274,8800.0,7,0,0,0,0.0
18,18,0.221813,43,0,0.527888,3280.0,7,0,1,0,2.0
24,24,0.046560,58,0,0.241622,2416.0,9,0,1,0,0.0

In [50]:
print("Train shape:", train.shape)
print("Test shape:", test.shape)

Train shape: (104805, 12)
Test shape: (45195, 13)

In [51]:
# Problema desbalanceado. Veamos cómo queda
test['SeriousDlqin2yrs'].value_counts()

0    42119
1     3076
Name: SeriousDlqin2yrs, dtype: int64

**El conjunto de train ya está listo**

## Answer file
Labels del conjunto de test que va a ir a Kaggle. Todo el conjunto objenido de Test, con el Id del orden que llevan + el label

In [52]:
answer_key = test['SeriousDlqin2yrs']
answer_key = pd.DataFrame(answer_key)
answer_key['Id'] = answer_key.index
answer_key = answer_key[['Id', 'SeriousDlqin2yrs']]
answer_key.head()

    Id  SeriousDlqin2yrs
0    0                 1
9    9                 0
17  17                 0
18  18                 0
24  24                 0

## Sample submission file
Hace falta un sample submission file en el conjunto de datos.

Formato:
- Id: Igual que el de test
- SeriousDlqin2yrs: como se va a usar AUC, se necesitan las probabilidades, por lo que en este caso será un numero random entre 0 y 1

In [53]:
sample_submission = answer_key.copy()
sample_submission['SeriousDlqin2yrs'] = np.random.random(len(answer_key))
sample_submission.head()

    Id  SeriousDlqin2yrs
0    0          0.778963
9    9          0.590108
17  17          0.046042
18  18          0.753685
24  24          0.577312

## Save files

In [54]:
train.to_csv('kaggle_data/train.csv', index=False)
test2.to_csv('kaggle_data/test.csv', index=False)
answer_key.to_csv('kaggle_data/answer_key.csv', index=False)
sample_submission.to_csv('kaggle_data/sample_submission.csv', index=False)